* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100;
    font-family: 'Rubik', sans-serif;
    background-image: linear-gradient(#e0c3fc, #8ec5fc, #ba7af8);
    background-repeat: repeat-x;
    background-position: 0 0;
}

#container {
    margin: 0 auto;
    /* margin-top: 100px; */
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

.texto {
    /* margin-top: 100px; */
    font-size: 30px;
    text-align: center;
}

#adicioneTarefa {
    width: 500px;
    height: 200px;
    font-size: 20px;
    border-radius: 10px;
    align-self: center;
}

#btn-roxa {
    background-color: #ba7af8;
    border: 0 auto;
    font-size: 15px;
    color: white;
}

.tarefas {
    height: 50px;
    font-size: 18px;
}

.tarefas-completo {
    text-decoration: line-through;
}

#botaos {
    align-self: center;
    margin: 20px;
}

#btn-checar {
    width: 100px;
    height: 50px;
    background-color: #ba7af8;
    color: #ffffff;
    border-radius: 10px;
}

#btn-remover {
    width: 100px;
    height: 50px;
    background-color: #ba7af8;
    color: #ffffff;
    border-radius: 10px;
}

/* .invisivel{
    text-decoration: line-through;
} */

@media(min-width:320px) {
    #container {
        width: 290px;
    }
    #adicioneTarefa {
        width: 290px;
    }
    #btn-roxa {
        height: 50px;
        font-size: 10px;
    }
}

@media(min-width: 480px) {
    #container {
        width: 430px;
    }
    #adicioneTarefa {
        width: 430px;
    }
    #btn-roxa {
        height: 50px;
        font-size: 10px;
    }
}

@media(min-width: 768px) {
    #container {
        width: 430px;
    }
    #adicioneTarefa {
        width: 430px;
    }
    #btn-roxa {
        height: 50px;
        font-size: 10px;
    }
}

@media(min-width: 1024px) {
    #container {
        width: 500px;
    }
    #adicioneTarefa {
        width: 490px;
    }
    #btn-roxa {
        height: 70px;
        font-size: 14px;
    }
}


/* .tabela {
width:500px;
text-align:center;
border-collapse:collapse;
} */