* {
    box-sizing: border-box;
}
html 

body {
    max-width: 100%;
    max-height: 100%;
    font-family: 'Rubik', sans-serif;
    background-image: url("../img/fonfo.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.fondo {
    max-width: 100%;
    max-height: 100%;

}

#container {
    margin: 0 auto;
    margin-top: 100px;
    width: 500px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}
.elementos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.texto {
    /* margin-top: 100px; */
    color: #288186;
    font-size: 30px;
    text-align: center;
}

.papelera {
    width: 30px;
    height: 30px;
    margin: 30px;
    margin-left: 10px;
    
}

#adicioneTarefa {
    width: 500px;
    height: 200px;
    font-size: 20px;
    border-radius: 10px;
    align-self: center;
    margin-bottom: 10px;
}

.buttonFin {
    color: white;
}

#btn-roxa {
    width: 100%;
    background-color: #8ec5fc;
    border: 0 auto;
    font-size: 15px;
    color: white;
    border-radius: 5px;
}

#Tabela {
    margin: 0;
    padding: 0;
    margin-bottom: 1px;
}

.tarefas {
    margin-bottom: 1px;
    width: 100%;
    height: 30px;
    border: 0 auto;
    font-size: 20px;
    color: white;
}

#tarefas p {
    background-color: #28818682;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #ffffff;
}

#tarefas button {
    background-color: #8ec5fc;
}

.tarefas-completo {
    text-decoration: line-through #8ec5fc;
    /* box-shadow: 0px 1px #2b0f47; */
}
.buttonFin {
    color: white;
}


#botaos {
    display: flex;
    flex-direction: initial;
    justify-content: center;
}

#btn-checar {
    width: 100px;
    height: 50px;
    background-color: plum;
    color: white;
    border-radius: 10px;
}

#btn-remover {
    width: 100px;
    height: 50px;
    background-color:plum;
    color: #ffffff;
    border-radius: 10px;
}

#btn-remover-tarefas {
    width: 120px;
    height: 50px;
    background-color: plum;
    color: white;
    border-radius: 10px;
}


/* .invisivel{
    text-decoration: line-through;
} */

@media(min-width:320px) {
    body {
        height: 100vh;
    }
    #container {
        width: 290px;
    }
    #adicioneTarefa {
        width: 290px;
    }
    #btn-roxa {
        height: 50px;
        font-size: 10px;
    }
}

@media(min-width: 480px) {
    body {
        height: 100vh;
    }
    #container {
        width: 430px;
    }
    #adicioneTarefa {
        width: 430px;
    }
    #btn-roxa {
        height: 50px;
        font-size: 10px;
    }
}

@media(min-width: 768px) {
    body {
        height: 100vh;
    }
    #container {
        width: 430px;
    }
    #adicioneTarefa {
        width: 430px;
    }
    #btn-roxa {
        height: 50px;
        font-size: 10px;
    }
}

@media(min-width: 1024px) {
    body {
        height: 100vh;
    }
    #container {
        width: 500px;
    }
    #adicioneTarefa {
        width: 490px;
    }
    #btn-roxa {
        height: 70px;
        font-size: 14px;
    }
}