* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    background-image: linear-gradient(#e0c3fc, #8ec5fc, #ba7af8);
}

.container {
    margin: 0 auto;
    width: 50%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo {
    margin-top: 0 auto;
}